@import '../../variables';

.detail-panel {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    width: 100%;

    img {
        margin: 10px 10px 10px 10px;
        align-self: center;
        height: 150px;
        width: 150px;
    }
}

.info {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.my-button {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 5px;
    width: 100%;
    background-color: grey;

    &:hover {
        cursor: pointer;
        background-color: #5a5a5a;
    }
}

.row {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.textRow {
    width: 500px;
}
