@import "src/variables";

.productItem {
    display: flex;
    flex-direction: column;
    align-items: center;

    background-color: grey;
    margin: 10px;
    padding: 10px;

    &:hover {
        cursor: pointer;
        background-color: #5a5a5a;
    }
}

.icon {
    margin: 10px 10px 10px 10px;
    align-self: center;
    height: 100px;
    width: 100px;
}
