@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;600;700&display=swap');
@import './variables';

html, body, #root {
    height: 100%;
}

body {
    font-family: $fontFamily;
    font-size: $fontSize;
    color: $fontColor;
    margin: 0;
}

.App {
    display: flex;
    flex-direction: column;
    height: 100%;
}
